html {
    min-height: 600px;
    min-width: 800px;
}

body {
    padding-top: 175px;
    overflow-y: scroll;
}

.banner {
    position: fixed;
}

.thumbnail {
    min-width: 200px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    -o-object-fit: cover;
    overflow: hidden;
}

.productName {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jumbotron {
    min-height:50px;
    max-height:50px;		
    background-color: #f9f9f9;
    background-image: url('Aurdikhao.png');
    color: #f7f9f9;
}

#results {
    min-height: 400px;
}
	
