body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    height:1000px;
    
    width:500px;
    
}                 
.text{
    color:blue;
    font-size:30;
    font-family:monospace;
}
.image-size{
    width:50;
}
.color{
   background-color:grey;
}

.window-color{
    background-color:green;
}
